h1 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
    text-align: center;
}
h2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}
html {
    background-color: black;
    text-align: center;
}
#copyright {
    text-align: right;
    color: gray;
}
a {
    color: aquamarine;
    font-size: 16px;
}